@media only screen and (max-width: 768px) {
    /* CSS rules to apply for screens with a maximum width of 768px */
    body{
        margin: 0;
        padding: 0;
    }
    
    div.header{
        width: 100%;
        height: 100px;
        background-color:white;
        display:block;
        position: fixed;
        top:0;
        left:0;
        z-index: 1;
        
        
    }
    #logo{
        width:200px;
        height: 100px;
        position: fixed;
        left:5px;
        
    }
    ul.header_ul{
        list-style-type: none;
        display:none;
        

    }
    .header #head_button{
        float: right;
        position: relative;
        top:40px;
        left:-90px;
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        font-size: 6px;
        cursor: pointer;
        

    }
    #head_button:hover{
        opacity: 0.8;
    }
    .container {
        display:block; /* Added flex display */
      }
      .below_header{
        background-color: rgb(82, 168, 202);
        width: 100%;
        height: 325px;
        z-index: 2;
    }
     #below_header_heading1{
        position:relative;
        top:150px;
        left:10px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        font-weight:bolder;
        color:white;
        
    }
    #below_header_heading{
        position: relative;
        top:150px;
        left:10px;
        font-size: 15px;
        color:black;
        overflow: hidden;
        
        
    }
    .below_header2{
        background-color: orange;
        float: right;
        height: 325px;
        width: 100%;
        

        
    }
    .mySlides {
        display:none;
        position: relative;
        top: 75px;
        text-align: justify;
        
    }
    .slide_heading{
        font-size: 30px;
        

    }
    .slide_para{
        font-size: 15px;
        position: relative;
        top:-20px;
        
    }
    .container2 {
        display: block; /* Added flex display */
      }
      .division2{
        width: 100%;
        min-height:500px;
        background-color: white;
        box-sizing: border-box;
    }
    #aboutus_image{
        width:300px;
        height: 300px;
        position: relative;
        top:30px;
    }
    .division3{
        width: 100%;
        min-height:500px;
        background-color:white;
        box-sizing: border-box;

    }
    #division3_h1{
        position: relative;
        top: 20px;
        left: 5px;
        border: 2px solid black;
        background-color: blue;
        width:100%;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        box-sizing: border-box;
     }
     #division3_para{
        position: relative;
        top: 20px;
        left: 10px;
        font-size: 12px;
        box-sizing: border-box;
        width:350px
        
    }
    .division3_contents{
        position: relative;
        top: 10px;
        left: 30px;
        text-align: justify;
        width: 250px;
        word-wrap: break-word;
        
        
    }
    .division4{
        width: 100%;
        height:1000px;
        background-color: blue;
        box-sizing: border-box;
        position: relative;
        top: 0px;
        
       }
       #division4_heading1{
        position: relative;
        left:10px;
        top: 40px;
        width: 300px;
        
       }
       .container3 {
        display:block; /* Added flex display */
        
    
      }
      .division4_first_div{
        width: 250px;
        height: 250px;
        background-color: wheat;
        position: relative;
        top: 30px;
        left: 40px;
        text-align: justify;
        padding: 10px;
        margin-bottom:30px;
        
        
       }
       .View_more_button1{
        position: relative;
        top:5px;
        left: 70px;
        background-color: green;
            color: white;
            padding: 10px 20px;
            border: none;
            font-size: 10px;
            cursor: pointer;
            
       }
       .View_more_button1:hover{
        opacity: 0.8;
       }
       .division4_second_div{
        width: 250px;
        height: 250px;
        background-color: rgb(221, 233, 221);
        position: relative;
        top: 50px;
        left: 40px;
        text-align: justify;
        padding: 10px;
        margin-bottom: 30px;
       }
       .divisio4_third_div{
        width: 250px;
        height: 275px;
        background-color: wheat;
        position: relative;
        top: 50px;
        left:-75px;
        text-align: justify;
        padding: 10px;
        margin-left: 130px;
        box-sizing: border-box;
   
       }
       .View_more_button2{
        position: relative;
        top: -10px;
        left: 80px;
        background-color: green;
            padding: 10px 20px;
            border: none;
            font-size: 10px;
            cursor: pointer;
            color:white
            
       }
       .View_more_button2:hover{
        opacity: 0.8;
       }
       .View_more_button3{
        position: relative;
        top: -5px;
        left: 70px;
        background-color: green;
        padding: 10px 20px;
            border: none;
            font-size: 10px;
            cursor: pointer;
            color: white;
            
       }
       .View_more_button3:hover{
        opacity: 0.8;
       }
       
       .division5{
        background-color: white;
        width: 100%;
       height:auto;
        position: relative;
        top: 0px;
        
        
       }
       #division5_heading1{
        text-align: center;
        position: relative;
        top: 20px;
        left:0px;
        font-size: 20px;
    }
    .division5_div2{
        border: 1px solid black;
        text-align: center;
        width: 300px;
        height: 200px;
        position: relative;
        top: 20px;
        left: 0px;
        background-color: antiquewhite;
        display: block;
        float: left;
        margin-bottom: 30px;
    }
    .division5_div2:hover{
        opacity: 0.9;
    }
    .division5_div3{
        border: 1px solid black;
        text-align: center;
        width: 300px;
        height: 200px;
        position: relative;
        top: 20px;
        left: 0px;
        background-color: antiquewhite;
        display: block;
        float: left;
        margin-bottom: 30px;
    }
    .division5_div3:hover{
        opacity: 0.9;
    }
    .division5_div4{
        border: 1px solid black;
        text-align: center;
        width: 300px;
        height: 200px;
        position: relative;
        top: 20px;
        left: 0px;
        background-color: antiquewhite;
        display: block;
        float: left;
        margin-bottom: 30px;
    }
    .division5_div4:hover{
        opacity: 0.9;
    }
    .division5_div5{
        border: 1px solid black;
        text-align: center;
        width: 300px;
        height: 200px;
        position: relative;
        top: 20px;
        left: 0px;
        background-color: antiquewhite;
        display:block;
        float: left;
        
    }
    
    .division5_div5:hover{
        opacity: 0.9;
    }
    .division5_img{
        width: 300px;
        height: 150px;
        
        
    }
    .division5_mega2{
        position: relative;
        top: 30px;
    }
    #division5_view_more{
        position: relative;
        top:60px;
        left: 100px;
        background-color: green;
        padding: 10px 20px;
            border: none;
            font-size: 16px;
            cursor: pointer;
            color:white
    }
    #division5_view_more:hover{
        opacity: 0.8;
    }
    .division6{
        width: 100%;
        background-color: white;
        position: relative;
        top: 30px;
    }
    #division6_heading1{
        text-align: center;
        color: skyblue;
        position: relative;
        top: 40px;
       
        
    }
    #map{
        position: relative;
        top: 30px;
        left: 10px;
        width: 300px;
        
   
    }
    .division7{
        width: 100%;
        height: 900px;
        background-color: blue;
        position: relative;
        top: 40px;
    }
    #division7_heading1{
        text-align: center;
        position: relative;
        top: 40px;
        left: -70px;
        color: white;
    }
    form{
        display:inline;
    }
    .division7_input_text{
        width: 200px;
        margin: 10px;
        padding: 10px;
        position: relative;
        top: 30px;
        left: 10px;
   
    }
    .division_textarea{
        width: 200px;
        margin: 10px;
        padding: 10px;
        position: relative;
        top: 30px;
        left: 10px;
   
    }
    #media_image{
        float: right;
        position:relative;
        top:120px;
        left: -130px;
        width: 200px;
        height: 200px;
    }
    #division7_button{
        background-color: green;
        position: relative;
        top: 40px;
        left:60px;
        padding: 10px 20px;
            border: none;
            font-size: 16px;
            cursor: pointer;
            color: white;
   
    }
    #division7_button:hover{
        opacity: 0.8;
    }
    .division8{
        width: 100%;
        height:auto;
        background-color: aqua;
        position: relative;
        top: 0px;
        padding: 20px 0; 
        
    }
    #bottom_logo{
        width:200px;
        height: 100px;
        position: relative;
        top: 10px;
        left: 10px;
   
    }
    .container5{
        display:block;
        
   
    }
    .unorder_list2{
        list-style-type: none;
        position: relative;
        top:0px;
        left:0px;
        display: block;
        
        
    }
    .unorder_list2 li{
        padding: 5px;
    }
    .unorder_list2 li a{
        color: rgb(192, 17, 46);
    }
    .unorder_list3{
        list-style-type: none;
        position: relative;
        top:0px;
        left:0px;
        display: block;
    }
    .unorder_list3 li{
        padding: 5px;
    }
    .li1{
        color: rgb(192, 17, 46);
    }
    .unorder_list4{
        list-style-type: none;
        position: relative;
        top:0px;
        left:0px;
        display: block;
    }
    .unorder_list4 li{
        padding: 5px;
    }
    .fa {
        padding: 20px;
        font-size: 10px;
        width: 5px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        position: relative;
        top:20px;
        left:20px;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
      
      
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      
      .fa-youtube {
        background: #bb0000;
        color: white;
      }
      
      .fa-instagram {
        background: #125688;
        color: white;
      }
      #Copyright{
        color: white;
        position: relative;
        top: 0;
        left:-20px;
        
      }
      .Copyright_class{
        background-color: black;
        padding: 30px;
        box-sizing: border-box;
   
      }
   
}