
/* *{
    margin: 0px;
    padding: 0px;
} */
body{
    margin: 0 !important;
    padding: 0;
    
    margin-bottom: 0 !important;
 
    
 


   }
   div.header{
         width:100%;
         height:25%;
         background-color:white;
         display: inline;
         position: fixed;
         top:0;
         left:0;
         z-index: 1;
         
         
     }
     #logo{
         width:400px;
         height: 150px;
         position: fixed;
         left:5px;
         
     }
     ul.header_ul{
         list-style-type: none;
         display: inline;
         

     }
     .header_ul li{
         float: left;
         padding: 10px;
         position:relative;
         left:550px;
         top:40px;
         font-size: 20px;
         
     }
     .header_ul a{
         text-decoration: none;
         color: black;
     }
     .header #head_button{
         float: right;
         position: relative;
         top:40px;
         left:-40px;
         background-color: green;
         color: white;
         padding: 10px 20px;
         border: none;
         font-size: 16px;
         cursor: pointer;
         border-radius: 5px;
         

     }
     #head_button:hover{
         opacity: 0.8;
     }
     .container {
         display: flex; /* Added flex display */
       }
     .below_header{
         background-color: rgb(82, 168, 202);
         width: 50%;
         height: 625px;
         box-sizing: border-box;
     }
      #below_header_heading1{
         position:relative;
         top:250px;
         left:50px;
         font-family: 'Source Sans Pro', sans-serif;
         font-size: 50px;
         font-weight:bolder;
         color:white;
         
     }
     #below_header_heading{
         position: relative;
         top:225px;
         left:90px;
         font-size: 20px;
         color:black;
         overflow: hidden;
         
         
     }
     .below_header2{
         background-color: orange;
         float: right;
         height: 625px;
         width: 50%;
         

         
     }
     .mySlides {
         display:none;
         position: relative;
         top: 250px;
         text-align: justify;
         
     }
     .slide_heading{
         font-size: 60px;
         
         

     }
     .slide_para{
         font-size: 20px;
         position: relative;
         top:-50px;
         left: 20px;
     }
     .container2 {
         display: flex; /* Added flex display */
       }
     .division2{
         width: 50%;
         min-height:500px;
         background-color: white;
         box-sizing: border-box;
     }
     #aboutus_image{
         width:500px;
         height: 500px;
         position: relative;
         top:30px;
     }
     .division3{
         width: 50%;
         min-height:500px;
         background-color:white;
         box-sizing: border-box;

     }
     #division3_h1{
         position: relative;
         top: 20px;
         left: 20px;
         border: 2px solid black;
         background-color: blue;
         width:550px;
         text-align: center;
         padding: 20px;
         border-radius: 10px;
         
         
         
         
     }
     #division3_para{
         position: relative;
         top: 20px;
         left: 65px;
         font-size: 20px;
         box-sizing: border-box;
         width:550px
         
     }
     .division3_contents{
         position: relative;
         top: 10px;
         left: 20px;
         text-align: justify;
         width: 600px;
         word-wrap: break-word;
         
         
     }
    .division4{
     width: 100%;
     height:400px;
     background-color: blue;
     box-sizing: border-box;
     position: relative;
     top: 0px;
     
    }
    .division4 p{
        position: relative;
        top:-20px;
    }
    /* .division4 h1{
        position: relative;
        left: 80px;
    } */
    .division4 p,h1{
        padding: 10px;
    }
    #division4_heading1{
     position: relative;
     top: 20px;
     text-align: center;
     color: white;
    
    }
    .container3 {
     display: flex; /* Added flex display */
     
 
   }
    
    .division4_first_div{
     width: 375px;
     height: 225px;
     background-color: wheat;
     position: relative;
     top: 30px;
     left: 10px;
     text-align: justify;
     padding: 10px;
     margin-right: -5px;
     border-radius: 1px;
     margin-left: 10px;
     padding-bottom: 10px;
     
     
    }
    .View_more_button1{
     position: relative;
     top: 5px;
     left: 100px;
     background-color: green;
         color: white;
         padding: 10px 20px;
         border: none;
         font-size: 16px;
         cursor: pointer;
         border-radius: 5px;
         
    }
    .View_more_button1:hover{
     opacity: 0.8;
    }
    .division4_second_div{
     width: 375px;
     height: 225px;
     background-color: rgb(221, 233, 221);
     position: relative;
     top: 30px;
     left: 40px;
     text-align: justify;
     padding: 10px;
     border-radius: 1px;
     padding-bottom: 10px;
    }
    .divisio4_third_div{
     width: 375px;
     height: 250px;
     background-color: wheat;
     position: relative;
     top: 30px;
     left: 40px;
     text-align: justify;
     padding: 10px;
     margin-left: 20px;
     box-sizing: border-box;
     border-radius: 1px;
     padding-bottom: 50px;

    }
  .View_more_button2{
     position: relative;
     top: -10px;
     left: 100px;
     background-color: green;
         padding: 10px 20px;
         border: none;
         font-size: 16px;
         cursor: pointer;
         color:white;
         border-radius: 5px;
         
    }
    .View_more_button2:hover{
     opacity: 0.8;
    }
    .View_more_button3{
     position: relative;
     top:-20px;
     left: 100px;
     background-color: green;
     padding: 10px 20px;
         border: none;
         font-size: 16px;
         cursor: pointer;
         color: white;
         border-radius: 5px;
         
    }
    .View_more_button3:hover{
     opacity: 0.8;
    }
    .division5{
     background-color: white;
     width: 100%;
    height: 600px;
     position: relative;
     top: 0px;
     
     
    }
    #division5_heading1{
     text-align: center;
     position: relative;
     top: 20px;
 }
 .division5_div2{
     border: 1px solid black;
     text-align: center;
     width: 300px;
     height: 200px;
     position: relative;
     top: 20px;
     left: 20px;
     background-color: antiquewhite;
     display: block;
     float: left;
 }
 .division5_div2:hover{
     opacity: 0.9;
 }
 .division5_div3{
     border: 1px solid black;
     text-align: center;
     width: 300px;
     height: 200px;
     position: relative;
     top: 20px;
     left: 20px;
     background-color: antiquewhite;
     display: block;
     float: left;
     margin-left: 10px;
 }
 .division5_div3:hover{
     opacity: 0.9;
 }
 .division5_div4{
     border: 1px solid black;
     text-align: center;
     width: 300px;
     height: 200px;
     position: relative;
     top: 20px;
     left: 20px;
     background-color: antiquewhite;
     display: block;
     float: left;
     margin-left: 10px;
 }
 .division5_div4:hover{
     opacity: 0.9;
 }

 .division5_div5{
     border: 1px solid black;
     text-align: center;
     width: 300px;
     height: 200px;
     position: relative;
     top: 20px;
     left: 20px;
     background-color: antiquewhite;
     display: block;
     float: left;
     margin-left: 10px;
 }
 .division5_div5:hover{
     opacity: 0.9;
 }
 .division5_img{
     width: 300px;
     height: 150px;
     
     
 }
 .division5_mega2{
     position: relative;
     top: 30px;
     left: -10px;
     
 }
 .division5_div6{
    border: 1px solid black;
     text-align: center;
     width: 300px;
     height: 200px;
     position: relative;
     top: 20px;
     left: 20px;
     background-color: antiquewhite;
     display: block;
     float: left;
     margin-left: 10px;
 }
 .division5_div6:hover{
    opacity: 0.9;
}
.division5_div7{
    border: 1px solid black;
     text-align: center;
     width: 300px;
     height: 200px;
     position: relative;
     top: 20px;
     left: 20px;
     background-color: antiquewhite;
     display: block;
     float: left;
     margin-left: 10px;
}
.division5_div7:hover{
    opacity: 0.9;
}
.division5_div8{
    border: 1px solid black;
     text-align: center;
     width: 300px;
     height: 200px;
     position: relative;
     top: 20px;
     left: 20px;
     background-color: antiquewhite;
     display: block;
     float: left;
     margin-left: 10px;
}
.division5_div8:hover{
    opacity: 0.9;
}
.division5_div9{
    border: 1px solid black;
     text-align: center;
     width: 300px;
     height: 200px;
     position: relative;
     top: 20px;
     left: 20px;
     background-color: antiquewhite;
     display: block;
     float: left;
     margin-left: 10px;
}
.division5_div9:hover{
    opacity: 0.9;
}
 #division5_view_more{
     position: relative;
     top:60px;
     left: 600px;
     background-color: green;
     padding: 10px 20px;
         border: none;
         font-size: 16px;
         cursor: pointer;
         color:white;
         border-radius: 5px;
 }
 #division5_view_more:hover{
     opacity: 0.8;
 }
 .division6{
     width: 100%;
     background-color: white;
     position: relative;
     top: 50px;
 }
 #division6_heading1{
     text-align: center;
     color: skyblue;
     position: relative;
     top:-60px;
     left: 10px;
    
     
 }
 #map{
     position: relative;
     top:-40px;
     left: 30px;
     width: 95%;
     height:auto;

 }
 .division7{
     width: 100%;
     height: 650px;
     background-color: blue;
     position: relative;
     top: 0px;
 }
 #division7_heading1{
     text-align: center;
     position: relative;
     top: 40px;
     color: white;
 }
 form{
     display:inline;
 }
 .division7_input_text{
     width: 600px;
     margin: 10px;
     padding: 10px;
     position: relative;
     top: 30px;
     left: 30px;
     border-radius: 10px;

 }
 .division_textarea{
     width: 600px;
     margin: 10px;
     padding: 10px;
     position: relative;
     top: 30px;
     left: 30px;
     border-radius: 10px;

 }
 #division7_button{
     background-color: green;
     position: relative;
     top: 40px;
     left:300px;
     padding: 10px 20px;
         border: none;
         font-size: 16px;
         cursor: pointer;
         color: white;
         border-radius: 5px;

 }
 #division7_button:hover{
     opacity: 0.8;
 }

 #media_image{
     float: right;
     position:relative;
     top: -350px;
     left: -50px;
     width: 500px;
 }
 .division8{
     width: 100%;
     height:200px;
     background-color:white;
     position: relative;
     top: 30px;
     padding: 20px 0; 
     
 }
 #bottom_logo{
     width:400px;
     height: 100px;
     position: relative;
     top: 40px;
     left: 40px;

 }
 .container5{
     display: flex;
     

 }
 .unorder_list2{
     list-style-type: none;
     position: relative;
     top:-80px;
     left:500px;
     display: block;
     
     
 }
 .unorder_list2 li{
     padding: 5px;
 }
 .unorder_list2 li a{
     color: rgb(192, 17, 46);
 }
 .unorder_list3{
     list-style-type: none;
     position: relative;
     top:-80px;
     left:600px;
     display: block;
 }
 .unorder_list3 li{
     padding: 5px;
 }
 .li1{
     color: rgb(192, 17, 46);
 }
 .unorder_list4{
     list-style-type: none;
     position: relative;
     top:-80px;
     left:700px;
     display: block;
 }
 .unorder_list4 li{
     padding: 5px;
 }
 .fa {
     padding: 20px;
     font-size: 10px;
     width: 5px;
     text-align: center;
     text-decoration: none;
     margin: 5px 2px;
     border-radius: 50%;
     position: relative;
     top: -100px;
     left:950px;
   }
   
   .fa:hover {
       opacity: 0.7;
   }
   
   .fa-facebook {
     background: #3B5998;
     color: white;
   }
   
   .fa-twitter {
     background: #55ACEE;
     color: white;
   }
   
   
   
   .fa-linkedin {
     background: #007bb5;
     color: white;
   }
   
   .fa-youtube {
     background: #bb0000;
     color: white;
   }
   
   .fa-instagram {
     background: #125688;
     color: white;
   }
   #Copyright{
     color: white;
     position: relative;
     top:20px;
     
   }
   .Copyright_class{
     background-color: black;
     padding: 30px;
     box-sizing: border-box;
     height: 125px;

   }



